* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  background-color: #020631;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app .mainHeading h1 {
  text-align: center;
}

.app h1,
h2,
h3 {
  color: white;
}

.app .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .input {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.app .input input {
  width: 100%;
  height: 1.6em;
  border-color: transparent;
  outline-color: transparent;
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}
.app .todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app .todos .list {
  min-height: 7rem;
}
.app .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.app .todos .active {
  border: #bbb516 solid 0.3rem;
  border-radius: 1rem;
}
.app .todos .complete {
  background-color: #1ed32d;
}

.app .todos .delete {
  background-color: #d31e3f;
}
.app .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app .todos .todo .left p {
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
}

.app .todos .complete .left p {
  color: #020631;
}

.app .todos .delete .left p {
  color: #bdbeb2;
}
.app .deleted .completed {
  text-decoration: line-through solid #000000a4 0.2rem;
}
.text-center {
  text-align: center;
  margin: 0.2rem 0;
  padding: 0.4rem 0;
}
.underline {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
